{{ define "main" }}
<div class="post-list">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="page-title">{{ if .IsHome }}All Posts{{ else }}{{ .Title }}{{ end }}</h1>
  <ul class="post-items">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      {{ $pages = where .Site.RegularPages "Type" "post" }}
    {{ end }}
    {{ range sort $pages ".Params.index" "desc" }}
    <li class="post-item">
      <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
