<nav class="breadcrumbs">
  {{ if .IsHome }}
    <span class="current">home</span>
  {{ else }}
    <a href="/">home</a>
    {{ if .IsPage }}
      {{ if eq .Type "post" }}
        / <a href="/post/">posts</a>
        / <span class="current">{{ .Title }}</span>
      {{ else if eq .Type "page" }}
        / <span class="current">{{ .Title }}</span>
      {{ else }}
        {{ $sections := split (trim .RelPermalink "/") "/" }}
        {{ range $index, $element := $sections }}
          {{ if ne $index 0 }}
            / <a href="/{{ delimit (first (add $index 1) $sections) "/" }}">{{ . }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ $url := replace .RelPermalink "//" "/" }}
      {{ $urlParts := split (trim $url "/") "/" }}
      {{ range $index, $element := $urlParts }}
        {{ if ne $element "" }}
          {{ if eq $index (sub (len $urlParts) 1) }}
            / <span class="current">{{ $element }}</span>
          {{ else }}
            / <a href="/{{ delimit (first (add $index 1) $urlParts) "/" }}">{{ $element }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</nav>
